{% extends "user/user_header.html" %}
{% block context %}
    <div class="container">
        <h5>商品</h5>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">名称</th>
                <th scope="col">价格</th>
                <th scope="col">数量</th>
                <th scope="col">库存</th>
                <th scope="col">积分</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.among }}</td>
                    <td>{{ product.min }}</td>
                    <td>{{ product.point }}</td>
                    <td>
                        <button type="button" class="button btn-primary">
                            <a>购买</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock context %}