<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery-1.12.4.js"></script>
</head>
<body>
    <div class="menu">
    <ul style="margin-left: 20px,margin-top:10px">
        <li style="font-size: 16px, margin: 0 0 0 10px"  onclick="window.location.href='/user_mypet'">宠物|商店</li>
        <li style="margin: 0 0 0 10px" onclick="window.location.href='/service_reservation'">服务预约</li>
        <li style="margin: 0 0 0 10px" onclick="window.location.href='/user_products'">积分兑换</li>
        <li style="margin: 0 0 0 10px" onclick="window.location.href='/history'">历史订单</li>
        <li style="margin: 0 0 0 10px" onclick="window.location.href='/user_mypet'">我的宠物</li>
    </ul>
    <ul style="float: right">
        <li><a href="#">当前在线：{{ request.session.user_name }}</a></li>
        <li><a onclick="window.location.href='/index'" >退出</a></li>
    </ul>
</div>
    {% block context %}
        添加内容
    {% endblock context %}
</body>
</html>